@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Nixie+One');
body {
	font-family: 'Nixie One', cursive;
	color: white;
	background-color: #E4F2F4; 
}
h1 {
	font-family: 'Nixie One', cursive;
	font-size: 2000;
	letter-spacing: 3px;
	color: #5B5B5B;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -150px;
    margin-left: -75px;
}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 30px 0 30px 0;
    width: 250px;
	height: 400px;
	background: #A7D6DE;
	position: fixed;
	top: 30%;
    margin-top: -100px;	
	text-align: center;
} 

li a {
	color: #5B5B5B;
	text-decoration: none;
	line-height: 4.95em;
    padding: 0 80px 0 80px;
	font-size: 15pt;

}

a:hover {
	 background: #5B5B5B;
	color: white;
	opacity: 0.5;
	display: block;
}


main {
	padding: 10px; 	
	
}

form {
	width: 40vW; 
	margin: 20px auto; 
	padding: 20px;
	margin-top: 175px;
	left: 50%;

}
label {
	color: #5B5B5B;
	font-family:'Nixie One', cursive;
	font-size: 15pt;
}
input {
	width: 300px;
	height: 50px;
}
textarea {
	width: 300px;
	height: 75px;
}

figure {
	position: absolute;
    left: 570px;
    top: 100px;
    z-index: -1;
}
img {
	width: 700px;
    height: 700px;
}

